:root {
  --color-primary: #000f;
  --color-highlight: #fedb8b;
  --color-brand-primary: #901f;
  --color-light: #fcf6f5ff;
  --color-mid: #ccc;
  --color-dark: #000;
  --color-text: #000;
  --color-white:  #FFF;
  --font-size: calc(18px + 0.25vw);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Lato'),
    url('/fonts/lato-black.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans'),
    local('Open-Sans'),
    url('/fonts/open-sans-regular.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Saira Stencil One'),
    local('Saira-Stencil-One'),
    url('/fonts/saira-stencil-one-regular-webfont.woff2'),
    format('woff2'),
    url('/fonts/saira-stencil-one-regular-webfont.woff'),
    format('woff'),
    url('/fonts/saira-stencil-one-webfont.ttf'),
    format('truetype');
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);

  /* css resets */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--color-white);

  @media (max-width: 768px) {
    grid-template-areas:
      "site-head"
      "main"
      "sidebar"
      "site-foot";
    grid-template-columns: 1fr;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Lato, sans-serif;
  color: var(--color-brand-primary);
}

a {
  text-decoration: none;
  color: var(--color-brand-primary);
}

.site-head {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-area: site-head;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid var(--color-brand-primary);
  background-color: var(--color-brand-primary);
}

.header-box {
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  font-family: Saira Stencil One, serif;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav-item {
  margin-right: 1em;
  margin-left: 1em;
}

/* footer */
.site-foot {
  border-top: 1px solid var(--color-brand-primary);
  grid-area: site-foot;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}

.foot-copyright {
  font-size: 0.6em;
  font-family: Lato, sans-serif;
}

.foot-box {
  display: flex;
  justify-content: center;
}

/* Side bar */
.sidebar {
  grid-area: sidebar;
}

.sidebar-box {
  max-width: 5em;
  padding-left: 1em;
  padding-right: 5em;
}

.sidebar-image {
  max-width: 100%;
}

.sidebar-heading {
  max-width: 40ex;
  border-bottom: 1px solid var(--color-brand-primary);
  color: var(--color-primary);
}

.sidebar-text {
  font-size: smaller;
}

/* Main content area - common to all central content templates */

main {
  grid-area: main;
  padding-right: 2em;
  padding-left: 2em;
}

body {
  scroll-behavior: smooth;
  display: grid;
  grid-template-areas:
    "site-head site-head"
    "sidebar  main"
    "site-foot site-foot";
  grid-gap: 1em;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 2em 1fr auto;
}

/* Permalinks are created by the parse-transform */

.permalink {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* responsive - move the grid so the content gets priority. Sidebar moves below content. */
@media screen and (min-width: 1px) and (max-width: 767px) {
  body {
    grid-template-areas:
      "site-head"
      "main"
      "sidebar"
      "site-foot";
    grid-template-columns: 1fr;
  }

  .header-box {
    display: block;
  }

  .site-head {
    padding-bottom: 3em;
  }

  main {
    padding-right: 0.01em;
    padding-left: 0.01em;
  }
}

img {
    max-width: 100%;
}
