<aside class="sidebar">
  <div class="sidebar-box">
    <img class="sidebar-image" alt="crayon club logo" src="/images/logos/dt-logo-v3.svg">
    <h4 class="sidebar-heading">Contact</h4>
    <p><a class="sidebar-text" href="mailto:{{ site.contact}}">{{ site.contact }}</a></p>
    <p><a class="sidebar-text" href="{{ site.twitterUrl }}"> {{ site.twitterHandle }}</a></p>
    <h4 class="sidebar-heading">Syndication</h4>
    <a class="sidebar-text" href="/feed.xml">Atom feed</a>
    <h4 class="sidebar-heading">Archives</h4>
    <p><a class="sidebar-text" href="/archive">All posts</a></p>
  </div>
</aside>
